@import "tailwindcss";

:root {
  --background: #0A0A0A;
  --foreground: #F3F4F6;
  --accent-green: #CCFF00;
  --accent-purple: #7C3AED;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-green: var(--accent-green);
  --color-accent-purple: var(--accent-purple);
  --font-headings: var(--font-space-grotesk);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

